html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}#main-wrapper{font-family:'Inconsolata',Monaco,"Lucida Console",Consolas,"Courier New";font-size:14px;width:1090px;}#sidebar{width:259px;float:left;margin-right:30px;padding-right:20px;border-right:1px solid #ccc;height:730px;}#current_time{font-size:70px;color:#666;text-align:center;}#chart{float:left;}#speed{font-family:'Inconsolata',Monaco,"Lucida Console",Consolas,"Courier New";font-size:13px;text-transform:uppercase;margin:15px 0 20px 25px;}#speed .togglebutton{padding:3px 3px;text-align:center;border:1px solid #ccc;cursor:pointer;float:left;width:60px;}#speed .togglebutton.slow{border-right:none;}#speed .togglebutton.fast{border-left:none;}#speed .togglebutton.current{color:#fff;background:#000;border:1px solid #000;}#note{position:relative;color:#fff;padding-left:5px;font-family:"Mercury SSm A","Mercury SSm B";font-style:italic;font-weight:400;font-size:14px;line-height:1.4em;}#cite{position:absolute;border-top:1px solid #ccc;padding-top:20px;top:640px;font-size:12px;line-height:1.4em;width:259px;}circle{}.line{stroke-width:0.1px;}a{color:#821122;text-decoration:none;border-bottom:1px solid #ccc;}a:hover{border-bottom:1px solid #821122;}.clr{clear:both;}


.center {
    display: block;
    width: 20%;
	margin: 0 auto;
}

/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

#tooltip {
    color: #454545;
    opacity: .9;
    background: #eee;
    padding: 5px;
    border: none;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    visibility: hidden;
    white-space: nowrap;
    pointer-events: none;
}

/* Chord Diagram */

#circle circle {
    fill: none;
    pointer-events: all;
}
path.group {
    fill-opacity: .8;
}
path.chord {
    fill-opacity: .8;
    stroke: #000;
    stroke-width: .25px;
}
#circle:hover path.fade {
    display: none;
}
aside {padding: 20px;}


form {
    position: absolute;
    right: 10px;
    top: 10px;
}

.node {
    border: solid 1px white;
    font: 10px sans-serif;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
}