---
permalink: /choropleth.html
title: Time Use Across America
---
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="css/style1.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        svg {
            font-size: 12px;
            font-family: "Open Sans", "sans-serif";
        }

        .background path {
            fill: none;
            stroke: #ddd;
            shape-rendering: crispEdges;
        }

        .foreground path {
            fill: none;
        }

        .brush .extent {
            fill-opacity: .3;
            stroke: #fff;
            shape-rendering: crispEdges;
        }

        .axis line,
        .axis path {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .axis text {
            text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
            cursor: move;
        }

        svg .title {
            font-size: 16px;
            font-weight:700;
        }

        svg .label {
            font-size: 12px;
            font-family: "Open Sans", "sans-serif";
            font-weight:400;
        }

    </style>
</head>
<body>
{% include header.html %}
{% include intro-header.html %}
<div class="content-section-b">
    <div class="container">
        <div id="objectives" class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h2 class="section-heading">Insights & Observations</h2>
                <ul>
                    <li class="descriptions"><span class="mainpoint">Differences between gender </span>
                        were not as vast between categories as expected. There was a surprisingly large amount of overlap between genders across all states.
                    </li>
                    <br>
                    <li class="descriptions"><span class="mainpoint">Unemployment among women </span>
                        was higher than for men, as indicated by the greater frequency of women who work less than 1 hour a day.
                    </li>
                    <br>
                    <li class="descriptions"><span class="mainpoint">People in North Dakota </span>
                        spent more time in their day doing leisure activities than people in any other state.
                    </li>
                    <br>
                    <li class="descriptions"><span class="mainpoint">Time spent on education </span>
                        tends to be greater for women than for men across all states.
                    </li>
                    <br>
                </ul>
            </div>
            <!--<div class="col-lg-6">-->
            <!--<div id="floatingCirclesG">-->
            <!--<div class="f_circleG" id="frotateG_01"></div>-->
            <!--<div class="f_circleG" id="frotateG_02"></div>-->
            <!--<div class="f_circleG" id="frotateG_03"></div>-->
            <!--<div class="f_circleG" id="frotateG_04"></div>-->
            <!--<div class="f_circleG" id="frotateG_05"></div>-->
            <!--<div class="f_circleG" id="frotateG_06"></div>-->
            <!--<div class="f_circleG" id="frotateG_07"></div>-->
            <!--<div class="f_circleG" id="frotateG_08"></div>-->
            <!--</div>-->
            <!--<p class="ready">Get Set. Ready. Explore</p>-->
            <!--</div>-->
        </div>

    </div>
    <!-- /.container -->

</div>

<!-- /.intro-header -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h2 class="tag text-center">Time Spent on <span id="update">Work</span></h2>
            <h3 class="mainpoint text-center text-uppercase">[ <span id="state">All States</span> ]</h3>
            <div id="overlapping-histogram"></div>
        </div>
        <div class="col-md-8">
            <form class="form-inline">
                <div class="form-group">
                    <br>
                    <label for="rankingType">Category to Map by: </label>
                    <select class="form-control" id="map-type" onchange="updateMap()">
                        <option value="Average Work">Average Working Time (hrs)</option>
                        <option value="Average Leisure">Average Leisure Time (hrs)</option>
                        <option value="Average Personal Care">Average Personal Care Time (hrs)</option>
                        <option value="Average Educational Time">Average Education Time (hrs)</option>
                    </select>
                    <div class="help-tip">
                        <p>The choropleth map shows average hours in various categories of time use across
                        different states in the US. Color intensity reflects the  average number of hours.
                        Hover over each state to see the distributions of hours that females and males in each state spend
                        for each category of time use in the histogram to the left. </p>
                    </div>
                    <br><br><br><br>
                    <span>
                        <p>Hover over the map to see the gender breakdown for that state. </p>
                    </span>
                </div>
            </form>
            <div id="content-1"></div>
            <div id="visualization"></div>

</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="index.html#time_management">Motivation</a>
                    </li>
                    <li>
                        <a href="index.html#objectives">Goals</a>
                    </li>
                    <li>
                        <a href="index.html#data">Data</a>
                    </li>

                    <!--<li>-->
                    <!--<a href="#insights">Insights</a>-->
                    <!--</li>-->
                    <li>
                        <a href="index.html#our_team">Team</a>
                    </li>
                    <!--<li>-->
                    <!--<a href="#references">References</a>-->
                    <!--</li>-->
                </ul>
                <p class="copyright text-muted small">Team Triple Treat @ 2016</p>
            </div>
        </div>
    </div>
</footer>
<!-- Load JS libraries -->
<script src="js/jquery.js"></script>
<script src="js/queue.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/topojson.js"></script>
<script src="js/d3.min.js"></script>
<script src="js/d3.tip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.10.0/d3-legend.min.js"></script>
<script src="js/colorbrewer.js"></script>
<script src="js/vis-choropleth1.js"></script>
<script src="js/tab.js"></script>
<script src="js/layeredHistogram.js"></script>
<script src="js/histogram.js"></script>
<script src="js/stackedAreaChart.js"></script>
<script src="js/main.js"></script>
</body>
</html>