---
permalink: /chorddiagram.html
title: Aggregate Chord Diagram for One Day Simulation
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aggregate Chord Diagram for One Day Simulation</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="css/sim_style.css" type="text/css" media="screen"/>-->
    <link rel="stylesheet" href="css/chord_style.css" type="text/css" media="screen"/>
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="css/style1.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    {% include header.html %}
    {% include intro-header.html %}
    <div class="help-tip">
        <p>What do people usually do after each activity? How does the flow of activities throughout the day look like?
        Hover over each activity to view the following activities that people usually engage in and the number of occurrences (frequency)
        for each following activity. The chord diagram helps viewers learn about the flow of activities throughout the day.</p>
    </div>
    <div class="container">
        <section id="diagram"></section>
        <div id="tooltip"></div>
    </div>
    <script src="js/d3.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/chorddiagram.js"></script>
</body>
</html>