---
permalink: /chorddiagram.html
title: Aggregate Chord Diagram for One Day Simulation
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aggregate Chord Diagram for One Day Simulation</title>
    <link rel="stylesheet" href="css/chord_style.css" type="text/css" media="screen"/>
</head>
<body>
    {% include header.html %}
    {% include intro-header.html %}
    <div class="container">
        <div class="help-tip">
            <p>What do people usually do after each activity? How does the flow of activities throughout the day look like?
                Hover over each activity to view the following activities that people usually engage in and the number of occurrences (frequency)
                for each following activity. The chord diagram helps viewers learn about the flow of activities throughout the day.</p>
        </div>
        <section id="diagram"></section>
        <div id="tooltip"></div>
    </div>
    <script src="js/d3.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/chorddiagram.js"></script>
</body>
</html>