---
permalink: /differences.html
title: Group Differences
---
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Landing Page - Start Bootstrap Theme</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/landing-page.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="css/style1.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
{% include header.html %}
{% include intro-header.html %}
<div class="container">

  <div class="row">

    <div id="donut" class="col-md-12">
      <h2 class="tag">Insights & Observations</h2>
      <ul>
        {% for sentence in site.data.story %}
        <li class="descriptions"><span class="mainpoint">{{ sentence.tag }} </span>
          {{ sentence.insight }}
        </li>
        {% endfor %}
      </ul>
      <hr class="section-heading-spacer">
      <div class="clearfix"></div>
      <form>
        <ul id="tabs">
          <li class="active"><a onchange="updatePath()" href="#gender" checked> Gender</a></li>
          <li><a onchange="updatePath()" href="#race"> Race</a></li>
          <li><a onchange="updatePath()" href="#income"> Income</a></li>
          <li><a onchange="updatePath()" href="#employment"> Employment</a></li>
        </ul>
      </form>
      <div class="help-tip">
        <p>The donut graph shows the distribution of different demographic characteristics (gender, family
        income, employment status, and race) within our dataset. Our data set consists of 4085 observations.
        We took out any observaton with NIU values for the relevant variables we would like to look at, including
        employment status, school enrollment, family income, race, and gender.
        The parallel coordinates allow user to view differences in the average amount of time that different
        demographic groups spend on various categories of time use. For instance, user can view and compare
        the average amount of work time, leisure, household activities between female and male, ammong different
        races, across different family incomes, etc.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div id="show_data"></div>
      <div id="updateInfo"></div>
    </div>
    <div class="col-md-8">
      <div id="parallel-coordinates"></div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>
            <a href="index.html#time_management">Motivation</a>
          </li>
          <li>
            <a href="index.html#objectives">Goals</a>
          </li>
          <li>
            <a href="index.html#data">Data</a>
          </li>

          <!--<li>-->
          <!--<a href="#insights">Insights</a>-->
          <!--</li>-->
          <li>
            <a href="index.html#our_team">Team</a>
          </li>
          <!--<li>-->
          <!--<a href="#references">References</a>-->
          <!--</li>-->
        </ul>
        <p class="copyright text-muted small">Team Triple Treat @ 2016</p>
      </div>
    </div>
  </div>
</footer>
<script src="js/jquery.js"></script>
<script src="js/queue.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/topojson.js"></script>
<script src="js/d3.min.js"></script>
<script src="js/d3.tip.js"></script>
<script src="js/colorbrewer.js"></script>
<script src="js/donut1.js"></script>
<script src="js/tab.js"></script>
<script src="js/parallelCoordinates.js"></script>
</body>
