 ---
permalink: /oneday.html
title: A Day in the Life
 ---
 <!DOCTYPE html>
 <html lang="en">

 <head>

	 <meta charset="utf-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <meta name="description" content="">
	 <meta name="author" content="">

	 <title>Landing Page - Start Bootstrap Theme</title>

	 <!-- Bootstrap Core CSS -->
	 <link href="css/bootstrap.min.css" rel="stylesheet">

	 <!-- Custom CSS -->
	 <link href="css/landing-page.css" rel="stylesheet">

	 <!-- Custom Fonts -->
	 <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	 <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	 <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	 <link rel="stylesheet" type="text/css" href="css/style1.css">

	 <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	 <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	 <!--[if lt IE 9]>
	 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	 <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	 <![endif]-->
 </head>
<body>
{% include header.html %}
{% include intro-header.html %}
<div class="help-tip">
	<p>The first visualization shows the movement and concentration of people from one activity to another throughout a 24-hour day.
		The bar chart updates the concentration of people (in percentage) currently spending time in each category of time use.
		The ranking chart shows ranking of activities in descending order with highest to lowest concentrations of people.
		The rectangle area chart shows the corresponding magnitudes of concentration of people within each activity for easy and more vivid comparisons
		of the current concentrations of people in each time category.</p>
</div>
<iframe src="onedayvis.html"></iframe>
<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="list-inline">
					<li>
						<a href="#time_management">Motivation</a>
					</li>
					<li>
						<a href="#objectives">Goals</a>
					</li>
					<li>
						<a href="#data">Data</a>
					</li>

					<!--<li>-->
					<!--<a href="#insights">Insights</a>-->
					<!--</li>-->
					<li>
						<a href="#our_team">Team</a>
					</li>
					<!--<li>-->
					<!--<a href="#references">References</a>-->
					<!--</li>-->
				</ul>
				<p class="copyright text-muted small">Team Triple Treat @ 2016</p>
			</div>
		</div>
	</div>
</footer>
</body>
</html>