<hr class="intro-divider">
<ul class="list-inline intro-social-buttons">
    {% if page.name != "index.html" %}
    <li>
        <a href="index.html" class="btn btn-default btn-lg network-name">Return to Story</a></li>
    <li>
    {% endif %}
        <a href="oneday.html" class="btn btn-default btn-lg"> <span class="network-name">A Day in the Life</span></a>
    </li>
    <li>
        <a href="chorddiagram.html" class="btn btn-default btn-lg"> <span class="network-name">A Day in Transition</span></a>
    </li>
    <li>
        <a href="choropleth.html" class="btn btn-default btn-lg"> <span class="network-name">Across America</span></a>
    </li>
    <li>
        <a href="differences.html" class="btn btn-default btn-lg"> <span class="network-name">Group Differences</span></a>
    </li>
</ul>